.benefits {
  width: 100%;
  height: 70rem;
  background-color: $bg-color-grey;

  transform: skewY(-6deg);

  @media only screen and (max-width: 600px) {
    height: 90rem;
  }

  .benefit__wrapper {
    transform: skewY(6deg);
  }

  &__heading {
     text-align: center;
     padding-top: 15rem;

     @media only screen and (max-width: 600px) {
      padding-top: 7rem;
      font-size: 2.5rem;
    }
  } 

  &__base {
    background-color: #fff;
    height: 29rem;
    margin-top: 5rem;
    box-shadow: 0px 3px 17.1px 0.9px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 600px) {
      margin-top: 3rem;
      height: 20rem;
    }
  }     

  &__title {
    color: #fff;
    background-color: #e49cd2;
    text-align: center;
    padding: 3rem 1rem;
  }

  &__text {
    padding: 2rem 2rem;

    @media only screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }
}
