.benefits {
  height: auto;
  background-color: $bg-color-grey;
  padding-bottom: 15rem;

  transform: skewY(-6deg);

  .benefit__wrapper {
    transform: skewY(6deg);
  }

  &__heading {
     text-align: center;
     padding-top: $margin-big;
  } 

  &__base {
    background-color: #fff;
    height: auto;
    margin-top: 5rem;
    box-shadow: 0px 3px 17.1px 0.9px rgba(0, 0, 0, 0.1);
  }     

  &__title {
    color: #fff;
    background-color: #e49cd2;
    text-align: center;
    padding: 3rem 1rem;
  }

  &__text {
    padding: 4rem 2rem;
  }
}
