.footer {
  width: 100%;
  clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
    background-color: $bg-color-light;
    height: auto;
  
  .footer__wrapper {
    padding-top: 20rem;
  }

  &__text {
    margin: $margin-small 0;
  }
}