.hero {
  color: $font-primary-color;
  letter-spacing: .3rem;
  background-color: $bg-color-light;
  height: auto;
  padding-bottom: $margin-big;
  
  &__heading {
    margin-top: $margin-small;
    text-align: center;
    
    @media (min-width: 768px) {
      margin-top: $margin-big;
      text-align: left;
      font-size: 4.8rem;
    }
  }

  &__paragraph {
    margin-top: $margin-medium;
    text-align: center;  
    

    @media (min-width: 768px) {
      font-size: 2.5rem;
      text-align: left;
    }
  }

  &__holder {
    text-align: center;
    margin-top: $margin-medium;
    width: 100%;
    height: auto;

    @media (min-width: 768px) {
      
      text-align: right;
    }
  } 
  
  &__img {
    width: 45%;
    height: auto;

    @media (min-width: 768px) {
      width: 70%;
      height: auto;
     }
  }  
}






