.reviews {
  height: auto;
  background-color: $bg-color-grey;

  &__paragraph {
    margin-top: $margin-small;
    padding: 0 1rem;
    text-align: center;
  }  

  &__name {
    margin: $margin-medium 0;
    text-align: center;
  }

  &__holder {
    text-align: center;
    margin-top: $margin-small;
  }


  .reviews__img {

  }
  
}

