.reviews {
  height: 40.35rem;
  background-color: $bg-color-grey;

  &__paragraph {
    margin-top: 15rem;
   
  }

  &__name {
    margin-top: $margin-medium;    
  }

  &__img {
    margin-top: $margin-big;
    display: inline-block;
  }
}

