@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

$font-stack: "Lato";
$font-primary-color: #1d3247;


$color-black: #000;


$bg-color-light: #dceef3;
$bg-color-grey: #e8eaec;


// MARGINS
$margin-big: 10rem;
$margin-medium: 5rem;
$margin-small: 2.5rem;



